body {

    position: relative;
    background-image: url(imagens/bg.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 0;
    margin: 0;
    height: 100vh;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color:#ed1e6d;

}

#topoDoSite {
    background-color: rgba(0, 0, 0, 0.676);
    width: 100%;
    height: 400;
}
